<h1> Question </h1>
<%= @question.title %>
<h2> Description </h2>
<%= @question.description %>

<h3> Answer the question </h3>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :answer %>
  <%= f.text_area :answer %><br />

  <%= f.submit %>


<% end %>

<ul>
<% @question.answers.each do |a| %>
<li><%= a.answer %></li>
<% end %>
</ul>




